.bg{
    background-image: url(../../../assets/recover_image.png);
    background-position: center center;
    background-size: cover;
}

.bgc{
    background: #fff;
}

h2{
    font-size: 30px;
}

h6{
    font-size: 20px;
}

a{
    text-decoration: none;
}