<app-navbar></app-navbar>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container bgc my-5 rounded-5 shadow">
        <div class="row align-items-stretch">
          <div class="col bg rounded-5 d-none d-md-block"></div>
          <div class="col px-4 py-2">
            <div class="text-end">
              <img src="../../../assets/main_icon.png" width="70px" alt="" />
            </div>
            <h2 class="fw-bold text-center py-3">
              BIENVENIDO<br />Recupera tu contraseña
            </h2>
            <!-- Login -->
            <form [formGroup]="recoverPassword" (ngSubmit)="recover()">
              <div class="mb-4">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="ejemplo@.gmail.com"
                  formControlName="email"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    recoverPassword.get('email')?.hasError('required') &&
                    recoverPassword.get('email')?.touched
                  "
                >
                  El <strong>correo</strong> es requerido
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    recoverPassword.get('email')?.hasError('email') &&
                    recoverPassword.get('email')?.touched
                  "
                >
                  El <strong>correo</strong> es invalido
                </span>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Recuperar</button>
              </div>
              <div class="col-12 text-center my-3">
                <a routerLink="/login">Volver</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<!-- Spinner -->
<div class="spinner" *ngIf="loading">
  <div class="child">
    <app-spinner></app-spinner>
  </div>
</div>
<app-footer></app-footer>
