<div class="tarjeta">
  <div class="face front">
    <img src="{{ img }}" alt="" />
    <h3>{{ title }}</h3>
  </div>
  <div class="face back">
    <h3>{{ title }}</h3>
    <h4><strong>Sensor:</strong></h4>
    <p>{{ sensor }}</p>
    <h4><strong>Ultima medida registrada:</strong></h4>
    <p>{{ lastMeasure }}</p>
    <h4><strong>Fecha y Hora:</strong></h4>
    <p>{{ dateAndTime }}</p>
    <!-- <div class="link">
      <a routerLink="{{ link }}">{{ button_content }}</a>
    </div> -->
  </div>
</div>
