<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="c">
      <div class="countainer">
        <h1 class="heading">404 not found<br>Lo siento</h1>
        <div class="description">Esta pagina no fue encontrada</div>
        <div class="text">
          Puede volver a la página anterior o visitar la página de inicio.
        </div>
        <div>
          <div class="buttons">
            <a class="homepage link1" routerLink="/home">Ir al inicio</a>
          </div>
        </div>
        <div class="copyright">
          Pug Error Page. All rights reserved | Design by
          <a class="link4" href="https://w3layouts.com/" target="_blank">W3layouts</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>