<app-navbar [showSettings]="true"></app-navbar>
<div class="container-fluid">
  <div class="row my-2">
    <div class="col text-center">
      <h3>Panel de Monitoreo General 📊</h3>
    </div>
  </div>
  <div class="row my-2">
    <div class="col px-4">
      <p>
        En este apartado de la pagina podrás observar las mediciones registradas
        en cada una de las variables y un gráfico de su comportamiento a lo
        largo del tiempo. Además, se registra visualmente (en color rojo) si
        alguna de las variables superó el umbral establecido para las mismas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col p-3 mx-3 mb-3 rounded-3" style="background: #fff">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Información Completa
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Filtrado por Fecha
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact-tab-pane"
            type="button"
            role="tab"
            aria-controls="contact-tab-pane"
            aria-selected="false"
          >
            Comparación entre Variables
          </button>
        </li>
      </ul>
      <!-- CONTENIDO -->
      <div class="tab-content">
        <!-- INFORMACION COMPLETA -->
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <app-full-information
            [dataUmbral]="dataUmbral"
            [dataVariables]="dataVariables"
            [options]="options"
          ></app-full-information>
        </div>
        <!-- FIN DE INFORMACION COMPLETA -->
        <!-- FILTRADO POR FECHA -->
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <app-information-for-date
            [options]="options"
            [dataVariables]="dataVariables"
            [dataUmbral]="dataUmbral"
          ></app-information-for-date>
        </div>
        <!-- FIN DE FILTRADO POR FECHA -->
        <!-- COMPARACIÓN -->
        <div
          class="tab-pane fade"
          id="contact-tab-pane"
          role="tabpanel"
          aria-labelledby="contact-tab"
          tabindex="0"
        >
          <app-information-variable
            [nodes]="nodes"
            [dataVariables]="dataVariables"
          ></app-information-variable>
          <!-- FIN DE COMPARACIÓN -->
        </div>
        <!-- CONTENIDO -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
