<footer>
  <div class="footer-container">
    <div class="footer-content-container">
      <h3 class="website-logo">
        Desarrollador: <br />
        Cristian Santiago <br />
        Rincón Caicedo
      </h3>
      <span class="footer-info">csantiagorincon@ucundinamarca.edu.co</span>
      <span class="footer-info">Ingeniería Electrónica</span>
    </div>
    <div class="footer-menus">
      <div class="footer-content-container">
        <span class="menu-title">menú</span>
        <a routerLink="/home" class="menu-item-footer">Inicio</a>
        <a routerLink="/crop" class="menu-item-footer">Cultivo</a>
        <a routerLink="/variables" class="menu-item-footer">Monitorear</a>
      </div>
      <div class="footer-content-container">
        <span class="menu-title">legal</span>
        <a href="" class="menu-item-footer">Privacy Policy</a>
        <a href="" class="menu-item-footer">Cookies</a>
        <a href="" class="menu-item-footer">Legal Advice</a>
      </div>
    </div>

    <div class="footer-content-container">
      <span class="menu-title">Universidad de Cundinamarca</span>
      <div class="social-container">
        <a
          href="https://www.facebook.com/ucundinamarcaoficial/"
          class="social-link"
          target="_blank"
        ></a>
        <a
          href="https://www.instagram.com/ucundinamarcaoficial/"
          class="social-link"
          target="_blank"
        ></a>
        <a
          href="https://www.ucundinamarca.edu.co/"
          class="social-link"
          target="_blank"
        ></a>
        <a
          href="https://twitter.com/ucundinamarca"
          class="social-link"
          target="_blank"
        ></a>
      </div>
      <span class="menu-title"
        >Vigilada Mineducación <br />
        Reconocida por Resolución <br />
        No. 19530, de Diciembre 30 de 1992</span
      >
      <!-- Vigilada Mineducación Reconocida por Resolución No. 19530, de
      Diciembre 30 de 1992 (MEN) -->
    </div>
  </div>
  <div class="copyright-container">
    <span class="copyright">&copy; Copyright 2023. All rights reserved.</span>
  </div>
</footer>
