<header>
    <h2 id="navFull" class="logo" (click)="home()">☕ Coffee Gui</h2>
    <h2 id="navResponsive" class="logo" (click)="home()">Coffee Gui</h2>
    <input type="checkbox" id="check">
    <label for="check" class="show-menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <nav class="menu">
        <a routerLink="/home" (click)="changeMenu()">Inicio</a>
        <a routerLink="/crop" (click)="changeMenu()">Cultivo</a>
        <a *ngIf="!showSettings" routerLink="/variables" (click)="changeMenu()">Monitorear</a>
        <a *ngIf="showSettings" routerLink="./settings" (click)="changeMenu()">Configurar</a>
        <a routerLink="/login" (click)="changeMenu()" *ngIf="!sesion">Iniciar Sesión</a>
        <a *ngIf="sesion" (click)="viewProfile()">Perfil</a>
        <label for="check" class="hide-menu">
            <i class="fa-solid fa-xmark"></i>
        </label>
    </nav>
</header>
