<app-navbar></app-navbar>
<div class="container-xxl">
  <!-- Umbrales de medida-->
  <div class="row">
    <div class="col text-center my-3">
      <h3>Modificar de Umbrales de Medida 🔨</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-xl-5">
      <div class="col">
        <ul>
          <li class="head"><strong>Umbrales Actuales</strong></li>
          <!-- <li>Temperatura: 10 °C</li>
          <li>Humedad: 10 %</li>
          <li>CO2: 10 ppm</li>
          <li>Radiación Solar: 10 U</li> -->
          <li>Temperatura: {{ dataUmbral[0].Temperatura }} °C</li>
          <li>Humedad Ambiente: {{ dataUmbral[0].HumedadA }} %</li>
          <li>Humedad del Suelo: {{ dataUmbral[0].HumedadS }} %</li>
          <li>CO2: {{ dataUmbral[0].CO2 }} ppm</li>
          <li>Radiación Solar: {{ dataUmbral[0].Rad }} U</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-xl-7 pe-xl-5">
      <form [formGroup]="umbralSet" (submit)="updateUmbral()">
        <div class="form-floating my-3">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            (change)="filter($event)"
            formControlName="parameter"
          >
            <option *ngFor="let variable of variables" [value]="variable">
              {{ variable }}
            </option>
          </select>
          <label for="floatingSelect">Selecciona una variable</label>
        </div>
        <div class="input-group my-3">
          <input
            type="number"
            class="form-control"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
            formControlName="value"
          />
          <span class="input-group-text" id="basic-addon2">{{ unity }}</span>
        </div>
        <button type="submit" class="btn btn-success w-100 mb-3">
          Actualizar
        </button>
      </form>
    </div>
  </div>
  <!-- Eliminación de registros -->
  <div class="row align-items-center">
    <div class="col text-center my-3">
      <h3>Eliminar de registros actuales 🗑</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-xl-5">
      <div class="col">
        <ul>
          <li class="info">
            En este módulo podrás eliminar todos los registros tomados hasta el
            momento de la base de datos.
          </li>
          <li class="info" *ngIf="registersShow">
            Registros actuales: {{ registers }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-xl-7 pe-xl-5">
      <form [formGroup]="deleteRegister" (submit)="deleteData()">
        <div class="form-floating my-3">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            (change)="numberRegister($event)"
            formControlName="deleteVariable"
          >
            <option *ngFor="let variable of variables" [value]="variable">
              {{ variable }}
            </option>
          </select>
          <label for="floatingSelect">Selecciona una variable</label>
        </div>
        <button type="submit" class="btn btn-danger w-100 mb-3">
          Eliminar
        </button>
      </form>
    </div>
  </div>
  <!-- Agregar nodos sensores -->
  <div class="row align-items-center">
    <div class="col text-center my-3">
      <h3>Agregar nodo sensor ➕</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-xl-5">
      <div class="col">
        <ul>
          <li class="info">
            En este módulo podrás agregar un nuevo nodo sensor, deberás
            especificar su dirección MAC y un identificador.
          </li>
          <li class="info">
            Nodos sensores registrados: {{ nodesList.length }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-xl-7 pe-xl-5">
      <form [formGroup]="addNode" (submit)="newNode()">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            formControlName="mac"
            autocomplete="off"
            style="text-transform: uppercase"
            maxlength="17"
          />
          <label for="floatingInput"
            >Dirección MAC (Ej: 00:11:22:33:44:55)</label
          >
        </div>
        <div
          class="form-floating mb-3"
          *ngIf="addNode.get('mac')?.invalid && addNode.get('mac')?.touched"
        >
          <span class="text-danger pb-2"
            >La dirección MAC ingresada no es correcta</span
          >
        </div>
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            formControlName="nodeId"
          >
            <option
              *ngFor="let avaliableId of avaliableIds"
              [value]="avaliableId"
            >
              {{ avaliableId }}
            </option>
          </select>
          <label for="floatingSelect">Selecciona un identificador</label>
        </div>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="number" class="form-control" id="lat" formControlName="lat">
              <label for="lat">Latitud</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="number" class="form-control" id="lon" formControlName="lon">
              <label for="lon">Lonngitud</label>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="bg-light my-3 rounded-2 pb-1">
          <h6 class="text-secondary pt-2 ps-3">
            ¿Cómo deseas registrar el nodo sensor?
          </h6>
          <div class="form-check form-check-inline ms-3">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="true"
              formControlName="nodeStatus"
            />
            <label class="form-check-label" for="inlineRadio1">Encendido</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="false"
              formControlName="nodeStatus"
            />
            <label class="form-check-label" for="inlineRadio2">Apagado</label>
          </div>
        </div>
        <!--  -->
        <button type="submit" class="btn btn-primary w-100 mb-3">Añadir</button>
      </form>
    </div>
  </div>
  <!-- Cambiar estado de los nodos sensores -->
  <div class="row align-items-center" id="change-nodes">
    <div class="col text-center my-3">
      <h3>Modificar estado de los nodo sensor ⚒</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-xl-5">
      <div class="col">
        <ul>
          <li class="info">
            En este módulo podrás encender o apagar cada uno de los nodo sensor
            registrados
          </li>
          <li class="info">
            Nodos sensores registrados: {{ nodesList.length }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-xl-7 pe-xl-5">
      <form [formGroup]="changeNode" (submit)="changeStatus()">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            formControlName="nodeIdChange"
            (change)="verifyStatus($event)"
          >
            <option
              *ngFor="let unavaliableId of unavaliableIds"
              [value]="unavaliableId"
            >
              Nodo sensor {{ unavaliableId }}
            </option>
          </select>
          <label for="floatingSelect">Selecciona un nodo sensor</label>
        </div>
        <div class="form-floating mb-3">
          <span class="text-light">Estado actual: </span>
          <span class="success pb-2" *ngIf="select && actualState">Encendido</span>
          <span class="text-danger pb-2" *ngIf="select && !actualState">Apagado</span>
        </div>
        <button type="submit" class="btn btn-success w-100 mb-3" *ngIf="!actualState">Encender</button>
        <button type="submit" class="btn btn-danger w-100 mb-3" *ngIf="actualState">Apagar</button>
      </form>
    </div>
  </div>
</div>
<!-- END -->
<app-footer></app-footer>
