<app-navbar></app-navbar>
<h3>granja la esperanza</h3>
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 bg-light rounded-5 p-3 shadow">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-information-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-information"
                type="button"
                role="tab"
                aria-controls="pills-information"
                aria-selected="true"
              >
                Información General
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-coffee-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-coffee"
                type="button"
                role="tab"
                aria-controls="pills-coffee"
                aria-selected="false"
              >
                Café
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-ubication-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-ubication"
                type="button"
                role="tab"
                aria-controls="pills-ubication"
                aria-selected="false"
              >
                Ubicación
              </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-variables-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-variables"
                  type="button"
                  role="tab"
                  aria-controls="pills-variables"
                  aria-selected="false"
                >
                  Estado de las variables
                </button>
              </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-information"
              role="tabpanel"
              aria-labelledby="pills-information-tab"
              tabindex="0"
            >
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, fuga
                corrupti suscipit autem aut, nesciunt odit omnis recusandae magnam,
                praesentium quod quo delectus dolorem doloribus repudiandae officiis
                quaerat totam vel? Repellendus voluptates quisquam nesciunt aliquam
                deserunt eum minus dolorum voluptatum commodi ipsa laudantium maiores
                est quis beatae veniam, ullam itaque molestias voluptate tenetur, ex aut
                nihil quae fugit! Nam iure, est itaque atque libero deserunt et neque
                ipsam explicabo. Debitis aliquid enim possimus asperiores perferendis
                voluptate voluptatum reiciendis expedita architecto at libero aliquam
                alias unde, molestias eius? Ab consectetur commodi beatae. Laudantium
                labore distinctio magnam ipsam doloribus esse tempore minima cumque!
                Laboriosam natus obcaecati accusamus ad, corrupti modi, vitae quos vel
                asperiores esse reprehenderit dolores earum at eligendi? Laudantium,
                officiis cupiditate explicabo deleniti molestiae nesciunt ea consequatur
                exercitationem cum ex animi facilis odio? Molestiae consectetur itaque
                quasi aliquid iste, laborum dolore doloremque illum deleniti sequi
                nostrum architecto illo recusandae laboriosam atque quis, officiis
                soluta amet, cupiditate facere ratione qui dignissimos consequuntur
                vitae? Commodi, quis itaque! Perferendis omnis non vero beatae illum
                quisquam dolores porro et rerum eaque autem mollitia consectetur
                adipisci asperiores architecto veniam, ipsum aut, in vel a sed similique
                accusamus labore illo. Beatae incidunt iure doloremque harum voluptate
                necessitatibus alias modi, sint quidem ea commodi consequuntur possimus
                delectus deleniti sapiente minus corporis praesentium odio voluptates
                eius eos? Dolor hic veritatis ipsa sit fugit, facilis iusto error
                laborum porro provident commodi iste, ullam, quaerat quas maiores
                blanditiis voluptatem illum vitae sunt? Corporis magni quisquam ut ad
                fugit quos et est quia, harum in pariatur, aliquam, eaque repudiandae
                quod accusamus modi sapiente? Vero, exercitationem soluta hic eaque
                quam, nam velit, voluptates corrupti incidunt at possimus ipsam vel eos
                quis expedita odit iste. Provident qui assumenda in maiores quia iusto
                fugit amet pariatur? Quod sed mollitia ipsa quisquam pariatur! Labore
                corporis dicta aut, porro odio itaque praesentium eum aliquid totam
                laboriosam ipsum voluptatibus obcaecati maiores sapiente aperiam iure
                magni pariatur voluptatum illum consequatur facere perspiciatis.
                Repellendus, suscipit neque possimus id dolorum maiores ullam! Nesciunt
                magni, architecto voluptates, beatae similique fugit veritatis harum
                magnam ipsam quos esse quia nisi assumenda numquam. Unde sed quod totam
                voluptates cum fugit est. Pariatur odit explicabo dolorem quas
                reprehenderit. Vero illo magnam labore impedit nulla ab dignissimos iste
                sequi assumenda, perferendis, commodi incidunt eum earum, nisi animi et
                quos necessitatibus culpa rerum voluptatibus similique recusandae quo!
                Hic quam optio quia officia reprehenderit pariatur cum suscipit? Nostrum
                alias quod eligendi sint officia, voluptate odio quaerat optio, quasi
                necessitatibus laudantium qui quas voluptates dicta saepe cupiditate
                quisquam obcaecati assumenda. Vero dolorum nostrum ad, assumenda nulla
                nam aliquam quia at incidunt natus, ut corporis quidem animi nisi
                officia reiciendis? Impedit soluta odit cum consequatur culpa aliquam et
                nobis praesentium, inventore fugiat, quae molestiae illum, magni fugit
                cumque? Tenetur, ducimus perferendis magni sint consequuntur eius
                laboriosam culpa! Consequuntur modi incidunt, dicta eius doloribus
                consequatur ex corrupti rerum ad corporis? Suscipit magnam sint eaque
                voluptatem harum eligendi sed velit illo quia maxime, distinctio
                excepturi natus laborum unde facilis dolores consectetur consequuntur!
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="pills-coffee"
              role="tabpanel"
              aria-labelledby="pills-coffee-tab"
              tabindex="0"
            >
              <app-login></app-login>
            </div>
            <div
              class="tab-pane fade"
              id="pills-ubication"
              role="tabpanel"
              aria-labelledby="pills-ubication-tab"
              tabindex="0"
            >
              Aca me ubico jajaja
            </div>
            <div
              class="tab-pane fade"
              id="pills-variables"
              role="tabpanel"
              aria-labelledby="pills-variables-tab"
              tabindex="0"
            >
              <app-variables></app-variables>
            </div>
          </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<app-footer></app-footer>
