<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container bgc my-5 rounded-5 shadow">
        <div class="row align-items-stretch">
          <div class="col bg rounded-5 d-none d-md-block"></div>
          <div class="col px-4 py-2 text-center">
            <div class="text-end">
              <img src="../../../assets/main_icon.png" width="70px" alt="" />
            </div>
            <h2 class="fw-bold text-center py-3">
              BIENVENIDO<br /><br />Por favor verifica tu correo electrónico para iniciar sesión,
              revisa la bandeja de entrada o el spam
            </h2>
            <a routerLink="/login">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<app-footer></app-footer>