.grafic {
  width: 100%;
  height: 80vh;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  color: #252525;
  letter-spacing: 1px;
  margin: 15px 0px;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  color: #252525;
  letter-spacing: 1px;
  margin: 15px 0px;
  text-transform: uppercase;
}

@media (max-width: 1080px) {
  .grafic {
    width: 100%;
    height: 60vh;
  }
}
