<section id="banner">
    <div class="banner-content">
        <h3><span>Empezemos:</span> Monitorea el estado de tu cultivo<br>en todo momento!!</h3>
        <a class="variables" routerLink="/variables">Monitorear</a>
    </div>
</section>
<section class="curious">
    <div>
        <img src="../../../assets/ico1.png" alt="">
        <h4>¿Sabias que?</h4>
        <p>Después del agua, el café es la bebida más consumida del mundo.</p>
        <p>Se calcula que se beben unos dos mil millones de tazas de café al día.</p>
        <p>El país que tiene más cafeterías es Italia con más de 100.000.</p>
        <p>El 54% de los estadounidenses beben café todos los días de su vida</p>
    </div>
    <div id="last">   
        <img src="../../../assets/ico2.png" alt="">
        <h4>¿Sabias que?</h4>
        <p>El país del mundo que consume más café es Estados Unidos.</p>
        <p>El café es uno de los productos alimenticios más vendidos del mundo</p>
        <p>La primera cafetería de la historia abrió en Londres en 1652.</p>
        <p>El país Nipón también tiene un spa donde es posible bañarse en piscinas de café.</p>
    </div>
</section>
<section class="icons">
    <div class="icons-content">
        <div>
            <i class="fa-solid fa-mug-hot"></i>
            <h6>Lorem.</h6>
            <p>El país que tiene más cafeterías es Italia con más de 100.000.</p>
        </div>
        <div>
            <i class="fa-solid fa-mug-hot"></i>
            <h6>Lorem.</h6>
            <p>El país del mundo que consume más café es Estados Unidos.</p>
        </div>
        <div id="last">
            <i class="fa-solid fa-mug-hot"></i>
            <h6>Lorem.</h6>
            <p>La primera cafetería de la historia abrió en Londres en 1652.</p>
        </div>
    </div>
</section>