<app-navbar></app-navbar>
<section id="banner">
  <div class="banner-content">
    <h3 *ngIf="sesion">
      <span>Bienvenido!!</span>
    </h3>
    <h3 *ngIf="sesion">
      <span>Empezemos:</span> Monitorea el estado de tu cultivo<br />en todo
      momento!!
    </h3>
    <h3 *ngIf="!sesion">
      <span>Inicia sesión</span> Para monitorear el estado de tu cultivo<br />en
      todo momento!!
    </h3>
    <a class="variables" routerLink="/variables" *ngIf="sesion">Monitorear</a>
    <a class="variables" routerLink="/login" *ngIf="!sesion">Iniciar Sesión</a>
  </div>
</section>
<!-- <section class="icons">
  <div class="icons-content">
    <div class="container-fluid" id="last">
      <div class="row" id="last">
        <h5>Podras monitorear las siguientes variables</h5>
      </div>
      <div class="row" id="last">
        <div class="col-12">
          <i>🔥</i>
          <h6>Temperatura</h6>
        </div>
        <div class="col-12">
          <i>💧</i>
          <h6>Humedad</h6>
        </div>
        <div class="col-12">
          <i>🌲</i>
          <h6>CO2</h6>
        </div>
        <div class="col-12" id="last">
          <i>🌞</i>
          <h6>Radiación Solar</h6>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="icons">
  <h5>Podrás monitorear las siguientes variables</h5>
  <div class="icons-content">
    <div>
      <i>🔥</i>
      <h6>Temperatura</h6>
    </div>
    <div>
      <i>💧</i>
      <h6>Humedad</h6>
    </div>
    <div>
      <i>🌲</i>
      <h6>CO<sub>2</sub></h6>
    </div>
    <div id="last">
      <i>🌞</i>
      <h6>Radiación solar</h6>
    </div>
  </div>
</section>
<section class="curious">
  <div id="no-line">
    <img src="../../../assets/ico1.png" alt="" />
    <h4>¿Sabías qué?</h4>
    <p>Después del agua, el café es la bebida más consumida del mundo.</p>
    <p>
      Se calcula que se beben unos dos mil millones de tazas de café al día.
    </p>
    <p>El país que tiene más cafeterías es Italia, con más de 100.000.</p>
    <p>El 54% de los estadounidenses beben café todos los días de su vida.</p>
  </div>
  <div id="last">
    <img src="../../../assets/ico2.png" alt="" />
    <h4>¿Sabías qué?</h4>
    <p>El país del mundo que consume más café es Estados Unidos.</p>
    <p>El café es uno de los productos alimenticios más vendidos del mundo.</p>
    <p>La primera cafetería de la historia abrió en Londres en 1652.</p>
    <p>
      El país Nipón también tiene un spa donde es posible bañarse en piscinas de
      café.
    </p>
  </div>
</section>
<section class="icons">
  <div class="icons-content">
    <div>
      <i>🕐</i>
      <h6>Historico</h6>
      <p>
        Consulta el estado de tu cultivo a lo largo del tiempo en cualquier
        lugar
      </p>
    </div>
    <div>
      <i>👀</i>
      <h6>Monitoreo</h6>
      <p>Monitorea en tiempo real el estado de las variables de tu cultivo</p>
    </div>
    <div id="last">
      <i>🔧</i>
      <h6>Configuración</h6>
      <p>Configura los parámetros de tus sensores de manera remota</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
