<h3>Revisa las siguientes variables</h3>
<div class="main">
  <app-card
    title="Temperatura"
    img="../../../assets/temperatura.png"
    button_content="Revisar"
    content="Ultima medida registrada: 13/12/2022 30°C"
    link="./temperatura"
  ></app-card>
  <app-card
    title="Humedad"
    img="../../../assets/humedad.png"
    button_content="Revisar"
    content="Ultima medida registrada: 13/12/2022 72%"
    link="./humedad"
  ></app-card>
  <app-card
    title="CO2"
    img="../../../assets/co2.png"
    button_content="Revisar"
    content="Ultima medida registrada: 13/12/2022 2000ppm"
    link="./co2"
  ></app-card>
  <app-card
    title="pH"
    img="../../../assets/temperatura.png"
    button_content="Revisar"
    content="Ultima medida registrada: 13/12/2022 5.2"
    link="./nn"
  ></app-card>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 justify-content-center">
      <h1>Hii!!</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col col-sm-12 justify-content-center">
      <app-card
        title="Temperatura"
        img="../../../assets/temperatura.png"
        button_content="Revisar"
        content="Ultima medida registrada: 13/12/2022 30°C"
        link="./temperatura"
      ></app-card>
    </div>
    <div class="col col-sm-12 justify-content-center">
      <app-card
        title="Humedad"
        img="../../../assets/humedad.png"
        button_content="Revisar"
        content="Ultima medida registrada: 13/12/2022 72%"
        link="./humedad"
      ></app-card>
    </div>
    <div class="col col-sm-12 justify-content-center">
      <app-card
        title="CO2"
        img="../../../assets/co2.png"
        button_content="Revisar"
        content="Ultima medida registrada: 13/12/2022 2000ppm"
        link="./co2"
      ></app-card>
    </div>
    <div class="col col-sm-12 justify-content-center">
      <app-card
        title="pH"
        img="../../../assets/temperatura.png"
        button_content="Revisar"
        content="Ultima medida registrada: 13/12/2022 5.2"
        link="./nn"
      ></app-card>
    </div>
  </div>
</div> -->
