<app-navbar [showSettings]="true"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h6>Revisa las siguientes variables</h6>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <div class="tarjeta">
        <div class="face front">
          <img [src]="cards[0].img" alt="" />
          <h3>{{ cards[0].title }}</h3>
        </div>
        <div class="face back">
          <h3>{{ cards[0].title }}</h3>
          <h4><strong>Sensor:</strong></h4>
          <p>{{ cards[0].sensor }}</p>
          <h4><strong>Ultima medida registrada:</strong></h4>
          <p>{{ cards[0].lastMeasure }}</p>
          <h4><strong>Fecha y Hora:</strong></h4>
          <p>{{ cards[0].dateAndTime }}</p>
        </div>
      </div>

      <div class="tarjeta">
        <div class="face front">
          <img [src]="cards[1].img" alt="" />
          <h3>{{ cards[1].title }}</h3>
        </div>
        <div class="face back">
          <h3>{{ cards[1].title }}</h3>
          <h4><strong>Sensor:</strong> {{ cards[1].sensor }}</h4>
          <h4><strong>Ultima medida registrada:</strong></h4>
          <p>
            Ambiente: {{ cards[1].lastMeasureA }}<br />
            Suelo: {{ cards[1].lastMeasureS }}
          </p>
          <h4><strong>Fecha y Hora:</strong></h4>
          <p>
            {{ cards[1].dateAndTimeA }}(Amb..)<br />{{
              cards[1].dateAndTimeS
            }}(Sue..)
          </p>
        </div>
      </div>

      <div class="tarjeta">
        <div class="face front">
          <img [src]="cards[2].img" alt="" />
          <h3>{{ cards[2].title }}<sub>2</sub></h3>
        </div>
        <div class="face back">
          <h3>{{ cards[2].title }}<sub>2</sub></h3>
          <h4><strong>Sensor:</strong></h4>
          <p>{{ cards[2].sensor }}</p>
          <h4><strong>Ultima medida registrada:</strong></h4>
          <p>{{ cards[2].lastMeasure }}</p>
          <h4><strong>Fecha y Hora:</strong></h4>
          <p>{{ cards[2].dateAndTime }}</p>
        </div>
      </div>

      <div class="tarjeta">
        <div class="face front">
          <img [src]="cards[3].img" alt="" />
          <h3>{{ cards[3].title }}</h3>
        </div>
        <div class="face back">
          <h3>{{ cards[3].title }}</h3>
          <h4><strong>Sensor:</strong></h4>
          <p>{{ cards[3].sensor }}</p>
          <h4><strong>Ultima medida registrada:</strong></h4>
          <p innerHTML="{{ cards[3].lastMeasure }}"></p>
          <h4><strong>Fecha y Hora:</strong></h4>
          <p>{{ cards[3].dateAndTime }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col text-center pb-3">
      <app-button
        text="Ver mas detalles"
        [routerLink]="['./monitoring']"
        color="green"
      ></app-button>
    </div>
  </div>
</div>
<app-footer></app-footer>
